<h1>{{poll?.title}}</h1>
<span>{{poll?.description}}</span>

<div fxLayout='column'>

  <form [formGroup]='voteForm'>
    <mat-radio-group formControlName='option' color=primary required>
      <mat-radio-button *ngFor='let opt of poll?.options' [value]='opt'>
        {{opt}}
      </mat-radio-button>
    </mat-radio-group>
    <div>
      <button [disabled]='!voteForm.valid' (click)=submit(voteForm)>Submit</button>
      <button (click)=clear()>Clear</button>
      <button (click)=toList()>Back to created poll list</button>
    </div>
  </form>

  <pre>{{ voteForm.value | json}}</pre>
</div>
